/****RESET STYLE******/
*,
*:before,
*:after {
  box-sizing: border-box;
  /* border:  1px solid black; */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* SITE */
body {
  font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}

/* DOM / REQUEST FUNCTIONS */

.is--hidden {
  display: none;
}

/* DOM MANIPULATE FUNCTIONS */

.gif {
  width:480px;
  height:264px;
}